# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# macOS / Windows junk (optional)
.DS_Store
Thumbs.db


#groq testing
test.py
# Python egg info
*.egg-info/
dist/
build/
